.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    width: 12rem;
    height: 5rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
}
  
.signInContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}