.footer {
    background: #A7C7E7;
    color: black;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
}
  
.footer p {
    margin: 0;
    font-size: 0.875rem;
}
  
.footer div {
    margin-top: 0.5rem;
}
  
.footer a {
    color: #f0f0f0;
    text-decoration: none;
    margin: 0 0.5rem;
}
  
.footer a:hover {
    text-decoration: underline;
}
  